<div class="modal-header">
  <div class="d-flex gap-2">
    <div class="progress w-300-px">
      <div class="progress-bar rounded-5" role="progressbar" [style.width]="progressValue + '%'" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="m-0 d-none d-sm-flex font-12-px">{{ progressValue }}% complete!</p>
  </div>
  
  <fa-icon [icon]="['fas', 'xmark']" class="font-20-px" role="button" (click)="activeModal.close()" />
</div>

<div class="modal-body">
  <div class="d-flex flex-column align-items-center">
    <img [src]="'/assets/images/on-boarding/header/' + getImageName(title)" class="h-40-px w-40-px mb-3">
    <h2>{{ title }}</h2>
  </div>
  
  <ng-container *ngIf="title === 'Photos'">
    <p class="fs-subtitle">
      Make your profile stand out with a photo that captures your
      uniqueness
    </p>
    <div class="d-flex justify-content-around flex-wrap">
      <div class="d-none d-sm-flex flex-column">
        <img
          src="/assets/images/on-boarding/select-your-simle.jpg"
          class="w-120-px h-120-px rounded-4"
          alt=""
        />
        <p class="font-12-px mt-2">Show us your simle!</p>
      </div>
      <div>
        <img
          src="/assets/images/on-boarding/angle.jpg"
          class="w-120-px h-120-px rounded-4"
          alt=""
        />
        <p class="font-12-px mt-2">Use a good angle</p>
      </div>
      <div>
        <img
          src="/assets/images/on-boarding/bright-light .jpg"
          class="w-120-px h-120-px rounded-4"
          alt=""
        />
        <p class="font-12-px mt-2">Use bright lighting</p>
      </div>
    </div>
    <div class="img-selector d-center mt-5">
      <div class="d-flex flex-column">
        <h4>Select Photo</h4>
        <app-img-picker (onFileChange)="selectFiles($event)" />
      </div>
    </div>
    <div class="d-center m-5">
      <button type="button" class="btn btn-sm cmn-btn w-200-px" (click)="activeModal.close('success')">
        {{ confirmButtonLabel }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="title === 'Relationship History'">
    <div class="d-center">
      <div
        class="d-flex flex-column gap-3 chip-group"
        tabindex="-1"
        role="radiogroup"
      >
        <div
          *ngFor="let option of relationOptions"
          (click)="relationStatus(option)"
          [ngClass]="statusofRelation === option ? 'active' : ''"
          class="chip chip-checkbox justify-content-center w-268-px"
          tabindex="0"
          role="radio"
          aria-checked="false"
          [attr.id]="generateId(option)"
        >
          <input type="radio" name="radioEx" />
          <span [attr.id]="'radioTwoLabel_' + generateId(option)">{{
            option
          }}</span>
        </div>
      </div>
    </div>
  </ng-container>   

  <ng-container *ngIf="title === 'Industry'">
    <h3 class="text-center">Coming Soon!</h3>
  </ng-container>

  <ng-container *ngIf="title === 'Ideal date'">
    <textarea
    cols="30"
    rows="8"
    placeholder="start typing..."
    [(ngModel)]="idealText" 
  ></textarea>
  <span class="text-danger">{{idealText?.length || 0}} / 300</span>
  <div class="d-center m-5">
    <button type="button" class="btn btn-sm cmn-btn w-200-px" (click)="submitIdealText()">
      {{ confirmButtonLabel }}
    </button>
  </div>
  </ng-container>

  <ng-container *ngIf="title === 'Body Type'">
    <div class="d-center">
      <div
        class="d-flex flex-column gap-3 chip-group"
        tabindex="-1"
        role="radiogroup"
      >
        <div
          *ngFor="let option of bodyTypeOptions"
          (click)="bodyType(option)"
          [ngClass]="statusofBody === option ? 'active' : ''"
          class="chip chip-checkbox justify-content-center w-268-px"
          tabindex="0"
          role="radio"
          aria-checked="false"
          [attr.id]="generateId(option)"
        >
          <input type="radio" name="radioEx" />
          <span [attr.id]="'radioTwoLabel_' + generateId(option)">{{
            option
          }}</span>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="title === 'Interests'">
    <p class="text-center">You can select up to 10 interests.</p>
    <p class="text-center text-primary">Interests ({{selectedInterests.length}})</p>
    <div class="intrests-box single-box">
        <div class="d-flex flex-row flex-wrap mt-2 gap-3">
          <div *ngFor="let item of interests">
            <span 
              class="itrested-item p-2 text-white" 
              (click)="onClickInterest(item.id)" 
              [ngClass]="{'active': isSelected(item.id)}">
              {{ item.name }}
            </span>
          </div>
        </div>
    </div>
    <div class="d-center m-5">
      <button type="button" class="btn btn-sm cmn-btn w-200-px" (click)="submitInterests()">
        {{ confirmButtonLabel }}
      </button>
    </div>
  </ng-container>
  
  <ng-container *ngIf="title === 'Complete All Steps'">
    <h3 class="text-center">Coming Soon!</h3>
  </ng-container>
</div>

<!-- <div class="modal-footer justify-content-end gap-2">
  <button type="button" class="btn btn-sm btn-danger" (click)="activeModal.close('cancel')">
    {{ cancelButtonLabel }}
  </button>

  <button type="button" class="btn btn-sm btn-secondary" (click)="activeModal.close('success')">
    {{ confirmButtonLabel }}
  </button>
</div> -->
