:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .connection-slider {
    ::ng-deep {
      .carousel {
        // border-radius: 1rem;
        .carousel-inner {
          border-radius: 1rem 0 0 1rem;
        }

        .carousel-control-prev,
        .carousel-control-next {
          width: 32px;
          opacity: 1;

          span {
            background-color: var(--primary-color);
            border-radius: 25px;
            background-size: 18px;
            width: 32px;
            height: 32px;
            padding: 18px;
          }
        }

        .carousel-control-prev {
          left: -15px;
        }

        .carousel-control-next {
          right: -15px;
        }
      }
      .user-profile {
        .line-indicators {
          .carousel-control-prev {
            display: none;
          }

          .carousel-control-next {
            display: none;
          }
        }
      }
    }
    .user-information {
      padding: 50px 35px;
    }
  }
}

::ng-deep {
  .connection-slider {
    border-radius: 1rem;
  }
  .c-icon-color {
    svg path {
      fill: var(--secondary-color) !important;
    }
  }
}
