<div class="connection-slider rounded-4">
  <fa-icon class="top-icon me-3" [icon]="['fas', 'sliders-h']" /><span
    >Filter</span
  >
  <ngb-carousel
    [showNavigationIndicators]="false"
    [interval]="0"
    (slide)="getNextPageGroupPostsById($event)"
  >
    <ng-container *ngFor="let image of images; let i = index; let l = last">
      <ng-template ngbSlide>
        <div
          class="single-box d-flex row w-100 justify-content-start rounded-4 m-0 mb-0"
        >
          <div class="user-profile col-12 col-lg-8 p-0">
            <ngb-carousel
              class="line-indicators"
              [id]="i"
              [showNavigationIndicators]="
                image.images.length > 0 ? true : false
              "
            >
              <ng-template ngbSlide *ngFor="let img of image.images">
                <img
                  class="w-100 rounded-start-4"
                  [src]="img.img"
                  alt="Random slide"
                />
              </ng-template>
            </ngb-carousel>
          </div>

          <div
            class="user-information w-100 justify-content-center m-5 col rounded-end-4 m-auto"
          >
            <div class="user-info d-block py-5">
              <div class="d-flex justify-content-between">
                <h5 class="">{{ image.name }}, {{ image.age }}</h5>
                <fa-icon
                  class="font-20-px gap-2 me-5"
                  [icon]="['fas', 'ellipsis-v']"
                />
              </div>
              <div class="text-start">
                <h5 class="">{{ image.city }}</h5>
              </div>
              <div class="py-5 d-flex flex-column gap-4 px-1 text-start">
                <div>
                  <fa-icon
                    class="font-20-px gap-2 card-icon"
                    [icon]="['fas', 'child']"
                  />
                  <span class="mx-2"> {{ image.height }}</span>
                </div>

                <div>
                  <fa-icon
                    class="font-18-px gap-2"
                    [icon]="['fas', 'smoking']"
                  />
                  <span class="mx-2"> {{ image.smoke }}</span>
                </div>

                <div>
                  <fa-icon
                    class="font-18-px gap-2"
                    [icon]="['fas', 'graduation-cap']"
                  /><span class="mx-2"> {{ image.graduate }}</span>
                </div>

                <div>
                  <fa-icon
                    class="font-18-px gap-2"
                    [icon]="['fas', 'heart']"
                  /><span class="mx-2">{{ image.married }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>
<div class="mt-5 h-140-px mb-0 single-box">
  <div class="input-area d-inline-flex gap-3 mt-10 w-75">
    <input
      type="text"
      class="rounded-5 mx-5"
      placeholder="  Wirte her a  message..."
      [(ngModel)]="message"
      (keyup)="sendMessage()"
    />
    <fa-icon class="msg-section-icon" [icon]="['fas', 'paper-plane']" />
    <i class="fa-solid fa-gift"></i>
  </div>
  <button class="gift-btn btn cmn-btn mx-md-10 mx-2 mx-sm-5">
    <fa-icon class="gift-icon msg-section-icon" [icon]="['fas', 'gift']" />
  </button>
</div>

<div class="intrests-box single-box mt-5 p-8">
  <h5 class="text-start">Interests</h5>
  <div class="d-flex flex-row flex-wrap mt-5 gap-3">
    <div *ngFor="let item of intrests">
      <span class="itrested-item p-2">{{ item }}</span>
    </div>
  </div>
</div>
