:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .connection-slider {
    ::ng-deep {
      .carousel {
        // border-radius: 1rem;
        .carousel-inner {
          border-radius: 1rem 0 0 1rem;
        }
        @media (max-width: 992px) {
          .carousel-inner {
            border-radius: 1rem 1rem 0 1rem;
          }
        }

        .carousel-control-prev,
        .carousel-control-next {
          width: 40px;
          opacity: 1;

          span {
            background-color: var(--primary-color);
            border-radius: 25px;
            background-size: 18px;
            width: 50px;
            height: 50px;
            padding: 25px;
          }
        }

        .carousel-control-prev {
          left: -10px;
        }

        .carousel-control-next {
          right: -10px;
        }
      }
      .user-profile {
        .line-indicators {
          .carousel-control-prev {
            display: none;
          }

          .carousel-control-next {
            display: none;
          }
        }
      }
    }
    .user-information {
      padding: 50px 35px;
    }
  }
  .intrests-box {
    border-radius: 10px;
    text-align: start;
    .itrested-item {
      background: var(--primary-color);
      border-radius: 25px;
      padding: 8px 15px;
    }
  }
}

::ng-deep {
  .connection-slider {
    border-radius: 1rem;
  }
  .c-icon-color {
    svg path {
      fill: var(--secondary-color) !important;
    }
  }
}
.input-area {
  border-radius: 40px;
}
.msg-section {
  background-color: var(--section-1st-color);
  border-radius: 15px;
}
.msg-section-icon {
  font-size: larger;
}
.top-icon {
  font-size: 24px;
}
.btn-down {
  z-index: 1;
}
.gift-btn {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
